.icon-48-requests {
      background-image: url(../images/l_requests.png);
      padding-left:60px!important;
}

.icon-48-request {
      background-image: url(../images/l_requests.png);
      padding-left:60px!important;
}

.icon-48-requestkeys {
      background-image: url(../images/l_requestkeys.png);
      padding-left:60px!important;
}

.icon-48-requestkey {
      background-image: url(../images/l_requestkeys.png);
      padding-left:60px!important;
}

.icon-48-cabinets {
      background-image: url(../images/l_cabinets.png);
      padding-left:60px!important;
}

.icon-48-cabinet {
      background-image: url(../images/l_cabinets.png);
      padding-left:60px!important;
}

.icon-48-hooks {
      background-image: url(../images/l_hooks.png);
      padding-left:60px!important;
}

.icon-48-hook {
      background-image: url(../images/l_hooks.png);
      padding-left:60px!important;
}

.icon-48-buildings {
      background-image: url(../images/l_buildings.png);
      padding-left:60px!important;
}

.icon-48-building {
      background-image: url(../images/l_buildings.png);
      padding-left:60px!important;
}

.icon-48-rooms {
      background-image: url(../images/l_rooms.png);
      padding-left:60px!important;
}

.icon-48-room {
      background-image: url(../images/l_rooms.png);
      padding-left:60px!important;
}

.icon-48-keys {
      background-image: url(../images/l_keys.png);
      padding-left:60px!important;
}

.icon-48-key {
      background-image: url(../images/l_keys.png);
      padding-left:60px!important;
}

.icon-48-keyrooms {
      background-image: url(../images/l_keyrooms.png);
      padding-left:60px!important;
}

.icon-48-keyroom {
      background-image: url(../images/l_keyrooms.png);
      padding-left:60px!important;
}

